@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Raleway-Regular;
  src: url(../src/fonts/Raleway-Regular.ttf) format(truetype);
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url(../src/fonts/Raleway-SemiBold.ttf) format(truetype);
}

@font-face {
  font-family: NeueMachina-Regular;
  src: url(../src/fonts/NeueMachina-Regular.otf) format(opentype);
}

@font-face {
  font-family: NeueMachina-Ultrabold;
  src: url(../src/fonts/NeueMachina-Ultrabold.otf) format(opentype);
}


@font-face {
  font-family: Conthrax-SemiBold;
  src: url(../src/fonts/Conthrax-SemiBold.otf) format(opentype);
}

